.body {
    background-color: black;
}
.icon {
    height: 30px;
    width: 30px;
    margin: 10px;   
}

.nav{
    display: flex;
    justify-content:space-between;
    vertical-align: middle;
    background-color: #dddddd;
    width: 100%;
}
.linknav{
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}