.body {
    background-color: black;
    color: white;
    text-decoration: none;
}
.icon {
    height: 30px;
    width: 30px;
    margin: 10px;   
}

.nav{
    display: flex;
    justify-content:space-around;
    align-content: center;
    background-color: #78288C;
    width: 100%;
}
.linknav{
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.card{
    width: 275px;
    height: auto;
    color: white;
    text-decoration: none;
    border-radius: 2%;
    background-image: url("./fondodecard.jpeg");
    margin: 5%;
    transition: 0.5s;
  }
  .card:hover{
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 0, 0.404);
    transform: scale(1.1);
  }
  img{
    width: 250px;
    height: 250px;
    border-radius: 2%;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: flex-start;
    background-color: black;
  }

  .paginado{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .filtros{
    background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=600");
    display: flex;
    justify-content:space-around;
    margin: 1%;
  }

  .ordenfiltro{
    display: flex;
 
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .newgame{
    justify-content: center;
    text-align: center;
    margin-top: 1.5%;
    color: white;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat
  }
  .pagenumber{
    justify-content: center;
    text-align: center;
    color: white;
  }
  .pagetext{
    font-size: small;
  }

  button{
    background-color: #e7e7e7; 
    color: black; /* Green */
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }
  button:hover{
    background-color: yellow;
    cursor: pointer;
  }

.Addvideogame{
  color: white;
  text-decoration: none;
  background-color: #dddb7373; 
}
.filtersformat{
  background-color: #e7e7e7; 
  color: black; /* Green */
  border: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.filtersformat:hover{
  cursor: pointer;
  background-color: black;
}