html, body{
    background-color: black;
}
.container{
    background-color: black;
}

.textError{
    color:red;
    font-size: smaller;
}

.landing{
    background-size: cover;
}
.containercreate{
    display: flex;
    flex-direction: row;
}
.containerimage{
    width: 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.imagecreate{
    width: 450px;
    height: 600px;
    border-radius: 0%;
}
.input{
    background-color: #e7e7e7; 
    color: black; /* Green */
    border: none;
    padding: 5px 12px;
    text-align: center;
    width: 500px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
.plataformas{
    width: 600px;
}