.search{
    background-color: white;
    color: rgb(0, 0, 0); /* Green */
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}