.container{
    background-color: rgba(160, 160, 160, 0.233);
    justify-content: center;
    text-align: center;
    width: 1000px;   
}
.containerdetail{
    background-image: url(https://images.pexels.com/photos/1010496/pexels-photo-1010496.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}